body {
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark gray text */
  }
  
  .container {
    max-width: 1000px; /* Limit container width for better readability */
  }
  
  .story-box-selection {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff; /* White background */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and scale */
  }

  .story-box-selection h5 {
    text-align: center;
  }
  
  .story-box-selection:hover {
    background-color: #f1f1f1; /* Lighter background on hover */
    cursor: pointer; /* Change cursor on hover for better UX */
  }
  
  .story-box {
    border: 1px solid #ddd;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 1.0s ease;
  }
  
  .story-box h2 {
    margin-top: 0;
  }
  
  .story-box p {
    font-size: larger;
    margin-bottom: 10px;
  }
  
  .story-box img {
    max-width: 100%;
    border-radius: 8px;
  }

  .story-box-selection.selected {
    background-color: #f1f1f1; /* Lighter background when selected */
}

.fade-in .story-box { animation: fadeIn 1s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
